*{
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;

}
#container{
    display: flex;
    justify-content: center;
    gap: 50px;
}
#no-disponible{
    display: none;
    text-align: center;
    font-size: 20px;
    color: red;
}
jwb{
 display: grid;
 grid-template-columns: repeat(2, 1fr);
}